#checklist {
    position: absolute;
    top: var(--hud-padding);
    right: var(--hud-padding);
    width: var(--checklist-width);
    background-color: #F6AB15;
    padding: var(--checklist-padding);
    font-size: 20px;
    overflow-y: auto;
    max-height: calc(100% - 2 * (var(--hud-padding) + var(--checklist-padding)));
    border-radius: 10px;
    border: 2px #212121 solid;
}

#checklist .title {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    padding-bottom: calc(2 * var(--checklist-padding));
}

#checklist input {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    width: 100%;
    box-sizing: border-box;
}

#checklist .new {
    border: 2px dashed var(--text-color-dark);
    text-align: center;
    margin-top: 4px;
    cursor: pointer;
}

#checklist .new:hover {
    background-color: white;
}

#checklist .objective h1 {
    font-size: inherit;
    font-weight: bold;
    margin: 0;
}

#checklist .objective {
    font-size: 16px;
}

#checklist .objective .field {
    display: flex;
}

#checklist .objective .field input {
    flex-grow: 1;
}

#checklist .objective .field button {
    flex-grow: 0;
}

#checklist .objective.checked {
    text-decoration: line-through;
}

#checklist .objective .goals.hidden {
    display: none;
}

#checklist .objective .goals .goal {
    margin-bottom: 8px;
    margin-top: 8px;
    padding-left: 8px;
    border-left: 2px solid var(--text-color-dark);
}

#checklist .objective .goals .picker {
    margin-bottom: 8px;
    margin-top: 8px;
    padding-left: 8px;
    border-left: 2px solid var(--text-color-dark);
}

#checklist .objective .goals .goal table td:first-child {
    text-align: right;
}

#checklist .objective .goals .goal table select {
    width: 100%;
}

#checklist .finished {
    width: 80%;
    text-align: center;
    font-size: var(--font-size-headers);
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 10%;
    background-color: #37946E;
    border-radius: 10px;
    border: 1px #212121 solid;
}

#checklist .finished:hover {
    background-color: white;
    cursor: pointer;
}