#checklist {
    position: absolute;
    top: var(--hud-padding);
    right: var(--hud-padding);
    width: var(--checklist-width);
    background-color: #ffcc66;
    padding: var(--checklist-padding);
}

#checklist .title {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    padding-bottom: calc(2 * var(--checklist-padding));
}

#checklist input {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    width: 100%;
    box-sizing: border-box;
}

#checklist .objective {
    font-size: 20px;
}

#checklist .objective.checked {
    text-decoration: line-through;
}

#checklist .finished {
    width: 80%;
    text-align: center;
    font-size: var(--font-size-headers);
    font-weight: bold;
    padding: 16px 10%;
    background-color: gray;
}

#checklist .finished:hover {
    background-color: white;
    cursor: pointer;
}