:root {
    --image-scale: 2;

    --z-index-top: 1;

    --font-size-descriptions: 16px;
    --font-size-headers: 20px;

    --text-padding: 5px;
    --text-color-dark: #212121;
    --text-color-light: white;

    --info-height: 250px;

    --library-width: 320px;

    --part-grid-cell-size: 64px;
    --part-grid-cells-per-row: 5;
    --part-grid-count-size: 14px;

    --hud-padding: 40px;

    --checklist-width: 300px;
    --checklist-padding: 16px;

    --avatar-padding: 10px;
}