:root {
    --image-scale: 2;

    --z-index-top: 1;

    --font-size-descriptions: 16px;
    --font-size-headers: 20px;

    --text-padding: 5px;

    --info-height: 250px;

    --library-width: 320px;

    --part-grid-cell-size: 64px;
    --part-grid-cells-per-row: 5;
    --part-grid-count-size: 14px;

    --hud-padding: 40px;

    --checklist-width: 300px;
    --checklist-padding: 16px;

    --avatar-padding: 10px;

    /* Colors */
    --text-color-dark: #212121;
    --text-color-light: #ffffff;

    --text-color-signal-low: #0000ff;
    --text-color-signal-high: #ff0000;
    --text-color-signal-varying: #cc66ff;

    --default-button-color: #37946e;
    --button-color-hover: #ffffff;

    --border-color: #212121;

    --menu-color-background: #16A086;

    --mission-color-description: #e6e6fa;
    --mission-color-unplayed: #0371AC;
    --mission-color-incomplete: #E13B3F;
    --mission-color-completed: #8fdf78;

    --checklist-color-background: #f8ba3f;
    --checklist-color-finish: var(--default-button-color);

    --info-color-background: #fbcc6f;
    --info-color-pinout-description-background: #ffffff;
    --info-color-pinout-description-background-selected: #add8e6;

    --info-color-extention-background: #ffffff;

    --library-color-background: #dee5ef;
    --library-color-category: var(--default-button-color);

    --library-color-part-background: #ffffff;
    --library-color-part-background-hover: #add8e6;
    --library-color-part-background-unavailable: #808080;

    --library-color-count-background: #ffffff;
    --library-color-count-background-unavailable: #9f9f9f;
    --library-color-count-background-negative: #ff0000;

    --overlay-color-pin: #ffffff;
    --overlay-color-ruler: #ffffff;

    --tabbar-color: var(--default-button-color);

    /* Colors in-game */
    --game-color-sky: #b3e2ec;
    --game-color-terrain-fill: #5B8023;
    --game-color-terrain-border: #262626;

    --game-color-water-top: #4d4dff33;
    --game-color-water-bottom: #01010100;

    --game-color-pcb: #607D45;
    --game-color-pcb-point: #425630;

    --game-color-pcb-pin-in: #6699ff;
    --game-color-pcb-pin-out: #33cc33;
    --game-color-pcb-pin-power: #ff0000;

    --game-color-pcb-point-renderer-selected: #ffffff;
    --game-color-pcb-point-renderer-invalid: #5F0D0D;
    --game-color-pcb-point-renderer-delete: #ff0000;

    --game-color-pcb-edit-place-unsuitable: #ff000080;

    --game-color-pcb-editables-border: #FF0000;
}