#info {
    overflow-y: auto;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;

    border-top: 1px solid black;
    background-color: lightgray;
}

#info .title {
    padding: 1vh;
    text-align: center;

    font-size: 2.5vh;
    color: black;
    background-color: transparent;
}

#info .description {
    padding-left: 2vh;
    padding-right: 2vh;

    font-style: italic;
    font-size: 2vh;
}

#info .pinouts {
    width: 100%;
    border-collapse: collapse;
}

#info .pinouts td {
    padding: 0;
}

#info .pinouts td + td {
    width: 100%;
}

#info .pinouts .pinout {
    font-family: monospace;
    font-size: 12pt;
    border-bottom: 1px solid black;
}

#info .pinouts .pinout .pinout-index {
    padding: 3px;
    border-right: 1px solid black;
}

#info .pinouts .pinout .pinout-name {
    padding: 3px;
    background-color: white;
}

#info .pinouts .pinout .pinout-name:hover {
    background-color: gray;
    color: white;
}

#info .pinout-in {
    background-color: aquamarine;
}

#info .pinout-out {
    background-color: aqua;
}

#info-extension {
    pointer-events: none;
    position: absolute;
    bottom: 0;
    width: 75%;
    height: 30%;
    left: 100%;
}

#info-extension .pinout-description {
    padding: 3px;
    background-color: white;
    border: 1px solid black;
    width: 100%;
    display: none;
}