#info {
    overflow-y: auto;
}

#info .title {
    padding: 1vh;
    text-align: center;

    font-size: 2.5vh;
    color: black;
    background-color: transparent;
}

#info .description {
    padding-left: 2vh;
    padding-right: 2vh;

    font-style: italic;
    font-size: 2vh;
}

#info .pinouts {

}

#info .pinouts .pinout {
    width: 100%;
    background-color: lightgray;
}

#info .pinouts .pinout .pinout-index {
    box-sizing: border-box;
    background-color: white;
}