#info .title {
    padding: 1vh;
    text-align: center;

    font-size: 2.5vh;
    color: black;
    background-color: transparent;
}

#info .description {
    padding-left: 2vh;
    padding-right: 2vh;

    font-style: italic;
    font-size: 2vh;
}

#info .pinouts {
    overflow: scroll;
}

#info .pinouts .pinout {
    width: 100%;
    height: 20px;
    background-color: blue;
}

#info .pinouts .pinout .pinout-index {
    box-sizing: border-box;
    background-color: white;

    border: 1px solid black;
}