#library {
    box-sizing: border-box;
    position: absolute;
    width: var(--library-width);
    height: 100%;
    user-select: none;
    background-color: #dee5ef;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
}

#library .category-title {
    padding: var(--text-padding);
    background-color: #6f747c;
    color: var(--text-color-light);
    font-weight: bold;
    font-size: var(--font-size-headers);
}

#library #parts {
    overflow-y: auto;
    flex-grow: 1;
}

#library #parts .part-list {
    display: grid;
    grid-template-columns: repeat(var(--part-grid-cells-per-row), var(--part-grid-cell-size));
}

#library #parts .part-list.closed {
    display:none;
}

#library #parts .part-list .part {
    display: block;

    cursor: pointer;
    background-color: white;
}

#library #parts .part-list .part:hover {
    background-color: lightblue;
}