#menu {
    background-color: royalblue;
    position: relative;
    width: 100%;
    height: 100%;
}

#menu .title {
    width: 100%;
}

#menu .title .title-text {
    font-size: 80pt;
    padding: 32px;
    text-align: center;
    color: white;
}

#menu .content {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#menu .content .root {

}

#menu .content .missions {
    margin-left: auto;
    margin-right: auto;
}

#menu .content .missions .mission {
    width: 240px;
    height: 160px;
    margin: 16px;
    background-color: goldenrod;
    cursor: pointer;
}

#menu .content .missions .completed {
    background-color: green;
}

#menu .content .missions .incomplete {
    background-color: fuchsia;
}

#menu .content .missions .mission .header {
    position: relative;
    background-color: lightgray;
}

#menu .content .missions .mission .header .title {
    color: black;
    font-size: 24pt;
    text-align: center;
    font-weight: bold;
}

#menu .content .missions .mission .header .button-bar {
    position: absolute;
    right: 0;
    top: 2px;
}

#menu .content .missions .mission .header .button-bar .button {
    position: absolute;
    right: 0;
    top: 0;
}

#menu .content .missions .mission .description {
    padding: 8px;
    display: none;
}

#menu .content .missions .mission:hover {
    background-color: white;
}

#menu .content .missions .mission:hover .description {
    display: block;
}

#menu .button-centered {
    margin: 16px auto;
    width: 30%;
    text-align: center;
}

#menu .button {
    font-size: 32px;
}