#menu {
    background-color: #16A086;
    position: relative;
    width: 100%;
    height: 100%;
}

#menu .title {
    width: 100%;
}

#menu .title .title-text {
    font-size: 80pt;
    padding: 32px;
    text-align: center;
    color: white;
}

#menu .content {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#menu .content .root {

}

#menu .content .stories .story {
    padding: 30px;
}

#menu .content .stories .story .mission {
    display: inline-block;
    width: 240px;
    height: 160px;
    margin: 20px;
    background-color: #0371AC;
    border-radius: 10px;
    border: 2px #212121 solid;
    overflow: hidden;
}

#menu .content .stories .story .completed {
    background-color: #61B948;
}

#menu .content .stories .story .incomplete {
    background-color: #E13B3F;
}

#menu .content .stories .story .mission .header {
    position: relative;
    height: 35px;
    background-color: lavender;
    border-radius: 8px 8px 8px 8px;
}

#menu .content .stories .story .mission .header .title {
    color: black;
    font-size: 14pt;
    text-align: center;
    font-weight: bold;
}

#menu .content .stories .story .mission .header .button-bar {
    position: absolute;
    right: 2px;
    top: 8px;
}

#menu .content .stories .story .mission .header .button-bar .button {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

#menu .content .stories .story .mission .description {
    display: none;
    height: 100%;
    width: 100%;
    cursor: pointer;
    text-align: center;
}

#menu .content .stories .story .mission:hover {
    background-color: lavender;
}

#menu .content .stories .story .mission:hover .description {
    display: block;
}

#menu .button-centered {
    margin: 16px auto;
    width: 30%;
    text-align: center;
}

#menu .button {
    font-size: 32px;
}