#editor-overlay {
    pointer-events: none;
    position: absolute;
}

#editor-overlay .pinouts {
    position: absolute;
}

#editor-overlay .pinouts .pin {
    position: absolute;
    font-family: monospace;
    font-size: 4px;
    width: 6px;
    height: 6px;
    color: black;

    text-align: center;
    line-height: 6px;
    background-color: rgba(255, 255, 255, 0.4);
}

#editor-overlay .pinouts .pin .arrow {
    position: absolute;
}