#editor-overlay {
    pointer-events: none;
    position: absolute;
}

#editor-overlay .pinouts {
    position: absolute;
}

#editor-overlay .pinouts .pin {
    position: absolute;
    font-family: monospace;
    font-size: 4px;
    width: 6px;
    height: 6px;
    color: var(--overlay-color-pin);
    text-align: center;
    line-height: 6px;
}

#editor-overlay .pinouts .pin .arrow {
    position: absolute;
}

#editor-overlay .rulers {
    position: absolute;
    font-size: 4px;
}

#editor-overlay .rulers .ruler {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    height: 6px;
    color: var(--overlay-color-ruler);
    line-height: 6px;
    font-family: monospace;
}

#editor-overlay .rulers .ruler .padding {
    display: block;
    flex-grow: 1;
}

#editor-overlay .rulers .ruler .text {
    padding-left: 1px;
    padding-right: 1px;
}

#editor-overlay .rulers .ruler .hbar {
    position: relative;
    display: inline-block;
    background-color: var(--overlay-color-ruler);
    width: calc(100% - 1px);
    top: -2px;
    height: 1px;
}

#editor-overlay .rulers .ruler .vbar {
    display: inline-block;
    background-color: var(--overlay-color-ruler);
    height: calc(100% - 1px);
    margin-top: 1px;
    width: 1px;
}

#editor-overlay .rulers .ruler.up {
    transform-origin: 0 0;
    transform: rotate(-90deg);
}