.signal {
    font-weight: bold;
}

.signal.high {
    color: var(--text-color-signal-high);
}

.signal.low {
    color: var(--text-color-signal-low);
}

.signal.varying {
    color: var(--text-color-signal-varying);
}