#user-button {
    position: absolute;
    top: var(--avatar-padding);
    right: var(--avatar-padding);
}

/*#avatar #character, #background {*/
/*    position: absolute;*/
/*    top: calc(var(--avatar-padding) * var(--image-scale));*/
/*    left: calc(var(--avatar-padding) * var(--image-scale));*/
/*}*/

/*#avatar #border {*/
/*    position: relative;*/
/*}*/
